@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Fira+Code:wght@300;400;500;600;700&family=Kumbh+Sans:wght@400;700&family=Lato:wght@300;400;700&family=Oxanium:wght@300;400;700&family=Roboto:wght@300;700&family=Rubik&family=Secular+One&display=swap');

/* achei a fonte usada no projeto mas ela era paga, rs */

body{
    background-color:  rgb(103,75,177);
    max-width: 1920px;
    font-family: 'Lato';
    background-image: url('/src/images/bg-desktop.svg');
    background-size: cover;
   
}

*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}
